<body>

  <p id="notice"><%= notice %></p>
  <div class="card">
    <div class="card-header" >
      Gossip n°<%= params[:gossip_id] %>: <%= Gossip.find(params[:gossip_id]).title %>
    </div>
    <div class="card-header" >Comments</div>
  </div>
  <br />
  <div class="container h-100 d-flex justify-content-center">
    <div class="card-columns">
      <% @comments.where("gossip_id = ?", params[:gossip_id]).each do |comment|%>
        <div class="card" style="width: 22rem">
          <div class="card-body">
            <h5 class="card-title"><%=comment.author.first_name%> says:</h5>
            <p class="card-text"><%=comment.content%></p>
            <%= link_to "Interract", user_gossip_comment_path(params[:user_id],params[:gossip_id],comment.id), :class => "btn btn-sm btn-dark" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class ="button-box col-lg-12" id="end-box">
    <br />
    <%= link_to 'New Comment', new_user_gossip_comment_path(params[:user_id],params[:gossip_id]), :class => "btn btn-primary   btn-lg" %>
  </div>
  <div class ="button-box col-lg-12" id="end-box">
    <br />
    <%= link_to "Back to Gossip", user_gossip_path(params[:user_id],params[:gossip_id]), :class => "btn btn-primary   btn-lg" %>
  </div>

</body>