<body>

  <div class="alert alert-danger" role="alert">
    <% if @comment.errors.any? %>
      <p>Comment could not be created for the following reasons :</p>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="card">
      <div class="card-body">
        <%= form_for @comment, url: {action: 'create'} do |comment| %>
  
          <div class = "form-group">
            <label>Content</label>
            <%= comment.text_area :content, class: 'form-control' %>
          </div>
  
          <div class = "form-group">
            <button type = "submit" class = "btn btn-dark btn-sm"> Create Comment </button>
          </div>
  
        <% end %>
      </div>
    </div>

  <div class ="button-box col-lg-12" id="end-box">
    <br />
    <%= link_to "Back to Comments", user_gossip_comments_path(params[:user_id],params[:gossip_id]), :class => "btn btn-primary btn-lg" %>
  </div>
  <div class ="button-box col-lg-12" id="end-box">
    <br />
    <%= link_to "Back to Gossip", user_gossip_path(params[:user_id],params[:gossip_id]), :class => "btn btn-teal   btn-lg" %>
  </div>

</body>