<!-- <title>Sign_up</title>
<h1>Create your account !</h1>
<form action= <%= users_path %> method="POST">
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <p>First name : <input type='text' name='first_name'></p>
  <p>     Email : <input type='text' name='email'><br/></p>
  <input type='submit'/>
</form> -->

<body style="color:rgb(102, 100, 237)">  

  <div class="alert alert-danger" role="alert">

    <% if @user.errors.any? %>
      <p>We could not log you in for the following reasons :</p>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <div class="card">
    <div class ="card-head">
      <p>Sign up</p>
    </div>

    <div class="card-body">
      <%= form_for @user, url: {action: 'create'} do |user| %>

        <div class = "form-group">
          <label>First Name</label>
          <%= user.text_field :first_name, value: User.all.sample.first_name, class: 'form-control' %>
        </div>

        <div class = "form-group">
          <label>Last Name</label>
          <%= user.text_field :last_name, value: User.all.sample.last_name, class: 'form-control' %>
        </div>

        <div class = "form-group">
          <label>Email</label>
          <%= user.text_field :email, value: User.all.sample.email, class: 'form-control' %>
        </div>

        <div class = "form-group">
          <label>Password</label>
          <%= user.password_field :password, value: "1", class: 'form-control' %>
        </div>

        <div class = "form-group">
          <label>Age</label>
          <%= user.text_field :age, value: User.all.sample.age, class: 'form-control' %>
        </div>

        <div class = "form-group">
          <label>Description</label>
          <%= user.text_area :description, value: User.all.sample.description, class: 'form-control' %>
        </div>

         <div class = "form-group">
          <%= form_for cities_path do |f| %>
            <div class="field">
              <%= f.label :city %><br />
              <%= f.collection_select(:city_id, City.all, :id, :name, :include_blank => "Please select a city") %>
            </div>
          <% end %>
        </div>


        <div class = "form-group">
          <label>City</label>
          <select name = "city_id"
        </div>

        <div class = "form-group">
          <button type = "submit" class = "btn btn-primary btn-sm"> Sign up </button>
        </div>

      <% end %>
    </div>
  </div>

</body>