<div class="card">
  <div class="card-header" style="text-align: center">
    Gossip n°<%= params[:id] %>: <%= @gossip.title %>
  </div>

  <div class="card-body" style="text-align: center">
    Author: <%= link_to "#{@gossip.author.first_name}", user_gossip_author_path(params[:user_id],params[:id],@gossip.author.id) %> 
    <p class="card-text">Content: <%= @gossip.content %></p>
    
    <div class ="button-box col-lg-12" style="text-align: center">
	    <%= link_to "Edit this Gossip", edit_user_gossip_path(params[:user_id],params[:id]), :class => "btn btn-success btn-sm" %>
	    <%= link_to "Delete this Gossip", user_gossip_path(params[:user_id],params[:id]), method: :delete, data:{ confirm: "Are you sure you want to delete this gossip?"}, :class => "btn btn-danger btn-sm"%>
	  </div>

  </div>
</div>
<div class="card-body">
  <p></p>
  <div class ="button-box col-lg-12" style="text-align: center"><%= link_to "Back to gossip list", user_gossips_path(params[:user_id]), :class => "btn btn-primary btn-sm" %></p>
</div>
