<% gossip_author = Gossip.find(params[:id]).author %>
<div class="card">
  <div class="card-header">
    <%=gossip_author.first_name%>
  </div>

  <div class="card-body">
    <p class="card-text"> About <%=gossip_author.first_name%>:</p>
    <p class="card-text"> <%=gossip_author.description%></p>
    <p>______________________________________________________</p>
    <p class="card-text"> <%=gossip_author.first_name%>'s Gossips :</p>
    <ul>
      <% gossip_author.written_gossips.each do |gossip| %>
      <li><%= link_to "#{gossip.title}", gossip_path(params[:first_name],gossip.id) %></li>
      <% end %>
    </ul>
    <p class="card-text"><%= link_to "Back to gossip list", welcome_path(params[:first_name]) %></p>    
  </div>
</div>

